h1{
    text-align: center;
    color:steelblue;
}
h2{
    text-align: center;
}
.jumbotron{
    background-color: gainsboro;
}
.text-center{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}